name: Build and publish

on:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up tags
        id: tags
        run: |
          echo "ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:latest" >> tags.txt
          echo "ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:${{ github.sha }}" >> tags.txt
          if [[ "${{ github.ref }}" =~ ^refs/tags/v ]]; then
            echo "ghcr.io/${{ github.repository_owner }}/stashapp-prometheus-exporter:${GITHUB_REF#refs/tags/}" >> tags.txt
          fi
          {
            echo "tags<<EOF"
            cat tags.txt
            echo "EOF"
          } >> $GITHUB_OUTPUT
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          platforms: linux/amd64,linux/arm64
